@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
body{
font-family: 'Poppins', sans-serif;
color: #ffffff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(Imagenes/cover.webp);
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    min-height: 40vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 1.5rem;
    padding: 20px;
    display: block;
    color: black;
}

.menu .navbar ul li a:hover{
    color: #191dd4;
    transition: ease all 0.50s;
}

#menu{
    display: none;
}

.menu-icon{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}


.movies-container h2{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.movies-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 7rem;
}
.desc img{
    width: 20rem;
}
.caja-descripcion{
    width: 40%;
}
.caja-descripcion h3{
    color: black;
}
.caja-descripcion p{
    color: black;
}

.imagenes-contenedor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.imagenes-contenedor img{
    width: 50rem;
}

.caja-descripcion a{
    font-size: 2rem;
    
}




@media (max-width:991px){

    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        color: #ffffff;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    .imagenes-contenedor img{
        width: 40rem;
        transition: ease all 0.5s;
    }
    
}

@media (max-width:591px){
    .box-container-1{
        font-size: 1rem;
    }
    .imagenes-contenedor img{
        width: 20rem;
        transition: ease all 0.5s;
    }
    .movies-container h2{
        color: black;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .desc img{
        width: 15rem;
    }
    .caja-descripcion{
        width: 70%;
    }
}